#button-a { 
    color: white;
    background-color: #46139f; }
#button-b { 
    color: white;
    background-color: #ff7f50;
}
#button-c { 
    background-color: white;
    border: 1px solid #46139f;
}

